<html>
    <head>
        <title>{{title}} | FixMyPC Booking System</title>
        <link href="/static/css/style.css" rel="stylesheet"/>
    </head>
    <body>
        {{{content}}}

    </body>
    <script src="/static/js/jquery-3.3.1.min.js"></script>
</html>