// SASS Styling

/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

/* Include partial SASS */

/* Base Styling */
body {
    margin:0;
    padding:0;
    font-family: 'Open Sans', sans-serif;
    background:whiteSmoke;
}